local config = {}

config.SSID = "librator"
config.wpapwd = ""

config.host = ""
config.port = ""

config.crypt = {}
config.crypt.sec = ""
config.crypt.iv = ""

config.gpio = 4
config.secretID = ""

return config
